{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
	<title>{% block titulo %}RegBov{% endblock titulo %}</title>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-screen-login.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap-table-style.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/estilo.css" %}">
  <link rel="stylesheet" type="text/css" href="{% static "css/dataTables.bootstrap.min.css" %}">
  <script type="text/javascript" src="{% static "js/jquery-2.1.4.min.js" %}"></script>
	<script type="text/javascript" src="{% static "js/bootstrap.js" %}"></script>
  <script type="text/javascript" src="{% static "js/jquery.dataTables.min.js" %}"></script>
  <script type="text/javascript" src="{% static "js/bootstrap-table-style.js" %}"></script>

</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">RegBov</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li id="id_home"><a href="{% url 'core:index' %}">Home <span class="sr-only">(current)</span></a></li>
        <li id="id_cadastro"><a href="{% url 'core:cadastroanimal' %}">Cadastrar</a></li>
        <li id="id_lista"><a href="{% url 'core:listaanimais' %}">Listar</a></li>
        <li id="id_sobre"><a href="{% url 'core:sobre' %}">Sobre</a></li>
        <li id="id_contato"><a href="{% url 'core:telausuario' %}">Contato</a></li>
        <li id="id_cadastrouser"><a href="{% url 'core:cadastrousuario' %}">Cadastre-se</a></li>
         {% if not user.is_authenticated %}
          <li><a href="{% url 'core:userlogin' %}">Entrar</a></li>
        {% endif %}
        {% if user.is_authenticated %}
          <li><a href="{% url 'core:userlogout' %}">Sair</a></li>
        {% endif %}

      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Buscar no site">
        </div>
        <button type="submit" class="btn btn-default">Buscar</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<div class="container" align="center">
	<div class="row">
		{% block row %}
		{% endblock row %}
	</div>
</div>
{% block extrajs %}{% endblock %}
</body>
</html>